/* Reset and global styles */
body {
    background-color: #282c34;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/* Weather App container */
.weather-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Weather Card */
.weather-card {
    max-width: 500px;
    width: 90%;
    background: linear-gradient(200deg, #ff9800, #f44336);
    color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Weather Title */
.weather-title h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.weather-title p {
    font-size: 1.2rem;
}

.weather-title .city-name {
    font-weight: bold;
    color: #35282d; /* Match color from your original design */
}

/* Search Area */
.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-area input {
    flex: 1;
    font-size: 1.2rem;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #35282d; /* Darker background color */
    color: #ffffff; /* Light text color */
    border: none;
    outline: none;
}

.search-area input::placeholder {
    color: #7a7171; /* Lighter placeholder text color */
}

.search-area input:focus {
    background-color: #483d42; /* Darker background color on focus */
}

.search-area button {
    width: 60px;
    height: 60px;
    background-color: #fe9000; /* Orange background color */
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-left: 10px; /* Spacing between input and button */
}
.search-area button img {
    width: 20px;
    padding-top: 5px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(175deg) brightness(120%) contrast(120%);
}


/* Error Message */
.error-message {
    margin-top: 10px;
    display: none; /* Initially hidden */
}

.error-message .error-text {
    color: #ff0000;
    font-size: 1rem;
}

/* Weather Display */
.weather-display {
    display: none;
    margin-top: 30px;
}

.weather-display .weather-icon {
    width: 150px;
    margin-bottom: 20px; /* Increased spacing */
}

.weather-display .temperature {
    font-size: 3.5rem; /* Larger font size */
    margin: 10px 0;
}

.weather-display .city-name {
    font-size: 2.5rem; /* Larger font size */
    margin-bottom: 20px; /* Increased spacing */
}

/* Weather Details */
.weather-details {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-detail {
    display: flex;
    align-items: center;
}

.weather-detail img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.weather-detail .humidity, .weather-detail .wind-speed {
    font-size: 1.2rem;
}
